*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    width: 96%;
    margin: auto;
}
h1{
    padding: 10px
}
main{
    height: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
article{
    width: 49%;
    height: 100%;
    float: left;
}
#right{
    border-left: 1px solid gray;
}
section{
    padding: 10px;
}
img{
    width: 80%
}
p{
    padding: 10px 0;
    width: 80%;
}
li{
    padding: 10px 0;
    list-style-type: none;
}
input[type=text], select, textarea{
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
}

@media screen and (max-width:414px)
{
    article{
        width:100%;
        height: auto;
    }
    #right{
        border:none;
    }
    p{
        width:85%;
    }
}