body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: #f5f8fa;
}
p {
    line-height: 150%;
    color: #222;
}

p {
    text-align: left;
}

h1 {
text-align: left;
margin-left: 70px;
}

h2 {
text-align: left;
margin-left: 70px;
}

h3{
    text-align: left;
    color: #00374d
    
}

h3:hover{
    color: blue;
    text-decoration: underline;
    
}

hr{
    width: 97%;
    border-color: white;
    background-color: white;
    margin: 30px auto;

}

img {
    position: relative;
    width: 100%;
    height: auto;
}

.container {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}


.flexbox-item{
width: 28%;
max-height: auto;
}


article h2{
    font-size: 16px;
    text-align: left;
}



    @media only screen and (max-width: 800px) {
        .deviceWidth {width:280px!important; padding:0;}	
        .center {text-align: center!important;}	 
        .container{
            flex-direction: column;
            
        }  
        .flexbox-item{
            width: 95%;
            margin: 10px 10px 20px 10px;
        }
    }

