/*variables*/
:root {
  font-size: 15px;
  --primary: White;
  --secondary: rgba(0, 0, 0, 0.89);
  --accent: #ffff00;
  --fontSmall: 0.8rem;
  --fontMedium: 1rem;
  --fontLarge: 1.2rem;
}
/*resets*/
body,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*fonts*/

/*base Styles*/
body {
  background: var(--primary);
  color: var(--secondary);
  width: 100%;
  font-family: monospace;
}
a {
  color: var(--secondary);
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}

.logo {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
}

span {
  font-weight: 700;
  color: var(--accent);
}
.main {
  height: 100vh;
  z-index: -1;
}

/*mobile Style*/
@media screen and (max-width: 414px) {
 
 
  label {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    
  
  }
  .nav {
   transform-origin: top-center;
    
   
  }
  .menu {
    
    text-align: center;
    width: 100%;
    display: none;
    height: 100vh;
    background-color: var(--secondary);
    position: relative;
    
    pointer-events: none;
  
  }
  .menu a {
    display: block;
    margin: 0;
    color: white;
    z-index: 999;
    padding: 15px;
    margin-top: 10px;

    pointer-events: auto;
  }
  .menu #down {
    margin-top: 80px;
  }
  #toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    
  }
  .accessiblity {
    display: none;
  }
  .main p {
    z-index: -1;
  }
}

/* --------------------------------- footer --------------------------------- */
.footer {
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "h2   "
    "h2   "
    "h2   ";
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: var(--accent);
  text-align: center;
}
.footer h2 {
  border-bottom: 2px solid black;
  grid-area: h2;
}
.footer h3 {
  font-size: var(--fontMedium);
}
.footer h4 {
  font-size: var(--fontMedium);
  font-weight: 500;
}

.footer #about a {
  padding: 4px;
}
.footer #about h2 {
  border-bottom: 2px solid black;
}
.footer a,
p {
  font-size: var(--fontMedium);
}

.footer a:hover {
  color: rgb(255, 98, 0);
  border-bottom: solid 1px black;
}

/* tablet Stle*/

/*Laptops*/

/*desktopStles*/
@media screen and (min-width: 620px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo logo logo access "
      "nav  nav nav profile ";
  }

  .logo {
    grid-area: logo;
    color: var(--primary);
    background-color: var(--secondary);
    font-size: var(--fontMedium);
  }
  .accessiblity {
    grid-area: access;
    background-color: var(--secondary);
    display: flex;
    justify-content: flex-end;
  }

  .accessiblity a {
    padding: 15px;
    color: var(--primary);
    font-size: var(--fontSmall);
    border-bottom: 1px solid #ffff00;
  }
  .accessiblity a:hover {
    border-bottom: 1px solid black;
    color: var(--accent);
  }
  .nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    margin-top: 2px;
    padding: 15px;
  }
  .menu a {
    padding: 15px;
    font-size: var(--fontMedium);
    color: var(--secondary);
  }
  .nav .menu a:hover {
    border-bottom: 1px solid var(--secondary);
  }
  .nav .menu a:active {
    background-color: var(--secondary);
    color: var(--accent);
    border-bottom: 1px solid var(--secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .profile {
    grid-area: profile;
    display: flex;
    justify-content: flex-end;
  }
  .main {
    padding: 20px;
    height: 100px;
    width: 100px;
    background-color: green;
 
  }

  /* --------------------------------- FOOTER --------------------------------- */
  /* --------------------------------- FOOTER --------------------------------- */

  .footer {
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "h2 h2 h2 ";
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: var(--accent);
    text-align: center;
  }
  .footer h2 {
    border-bottom: 2px solid black;
    grid-area: h2;
  }
  .footer h3 {
    font-size: var(--fontMedium);
  }
  .footer h4 {
    font-size: var(--fontMedium);
    font-weight: 500;
  }


 
  .footer #about a {
    padding: 4px;
  }
  .footer #about h2 {
    border-bottom: 2px solid black;
  }
  .footer a,
  p {
    font-size: var(--fontMedium);
  }
 
}
.footer a:hover {
  color: rgb(255, 98, 0);
  border-bottom: solid 1px black;
}
